@{
    ViewData["Title"] = "Home Page";
}

<!-- Define the App container. -->
<div id="app"></div>

<!-- Include the compiled Vue.js. -->
<script src="~/dist/app.js" asp-append-version="true"></script>
